<% @posts.each do |post| %>
<div class="post-box">
  <h4><%= post.title %></h4>
  <div class="post-body"><%= post.body %></div>
  <div class="post-author">
    <% if user_signed_in? %>
      <%= @post.user.username %>
    <% else %>
      Anonymous
    <% end %>
  </div>
</div>
<% end %>