.posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .1fr repeat(3, 1fr);
    padding: 1rem;
}



.post-box{
    display: flex;
    flex-direction: column;
    background: white;
    border: .5rem solid rgb(49, 139, 255);
    border-radius: .5rem;
    padding: 1rem;
    margin: .8rem;
}

.post-box .post-body{
    color: #8b8b8b;
    font-size: 0.9rem;
    font-weight: 400;
    flex-grow: 1;
}

.post-author{
    gap: 1.5rem;
    margin-top: 1rem;
    align-self: flex-end;
}